
  /* COLROES BASE */
  $RosaB0: #ab004b;
  $RosaB1: #ff0070;
  $RosaB2: #fa006d;
  $RosaB3: #430a23;
  $RosaB4: #220b15;

  $AmarilloB0: #ca7e00;
  $AmarilloB1: #ff9f00;
  $AmarilloB2: #ff9f00;
  $AmarilloB3: #50360c;
  $AmarilloB4: #281d0c;

  $AzulB0: #0a3e85;
  $AzulB1: #1678ff;
  $AzulB2: #066af4;
  $AzulB3: #0c1d34;
  $AzulB4: #0a111a;

  $VerdeB0: #6bb900;
  $VerdeB1: #94ff00;
  $VerdeB2: #92fc00;
  $VerdeB3: #2f490b;
  $VerdeB4: #1a240b;

  /* SHINY */
  $RosaS0: #ff0070;
  $RosaS1: #ffa4cc;
  $RosaS2: #ff70af;
  $RosaS3: #b80050;
  $RosaS4: #8d003e;

  $AmarilloS0: #ff9f00;
  $AmarilloS1: #ffdda4;
  $AmarilloS2: #ffc970;
  $AmarilloS3: #d98700;
  $AmarilloS4: #a76800;

  $AzulS0: #1678ff;
  $AzulS1: #accfff;
  $AzulS2: #7cb3ff;
  $AzulS3: #003c8f;
  $AzulS4: #002e6e;

  $VerdeS0: #94ff00;
  $VerdeS1: #d9ffa4;
  $VerdeS2: #c3ff70;
  $VerdeS3: #73c700;
  $VerdeS4: #589900;

  /* COLORES DEEP */

  $RosaD0: #2d0014;
  $RosaD1: #230010;
  $RosaD2: #3b021b;
  $RosaD3: #61002b;
  $RosaD4: #8e003e;

  $AmarilloD0: #362200;
  $AmarilloD1: #2a1a00;
  $AmarilloD2: #462d03;
  $AmarilloD3: #734800;
  $AmarilloD4: #a86900;

  $AzulD0: #021023;
  $AzulD1: #020d1b;
  $AzulD2: #06172e;
  $AzulD3: #03214c;
  $AzulD4: #07336f;

  $VerdeD0: #1c3100;
  $VerdeD1: #162600;
  $VerdeD2: #264002;
  $VerdeD3: #3d6900;
  $VerdeD4: #599a00;

  /* COLORES PASTEL */

  $RosaP0: #fa569d;
  $RosaP1: #DF0364;
  $RosaP2: #fb98c3;
  $RosaP3: #f9187b;
  $RosaP4: #f8006d;

  $AmarilloP0: #ffc057;
  $AmarilloP1: #fffaf3;
  $AmarilloP2: #ffd99a;
  $AmarilloP3: #DF0364;
  $AmarilloP4: #ff9f00;

  $AzulP0: #619ef3;
  $AzulP1: #f3f8fe;
  $AzulP2: #9dc2f6;
  $AzulP3: #2a7ff2;
  $AzulP4: #0367f0;

  $VerdeP0: #b6fc56;
  $VerdeP1: #fafff3;
  $VerdeP2: #d3fd99;
  $VerdeP3: #9cfc18;
  $VerdeP4: #92fb00;

